body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-image:url("images/NBN_6320.jpg");
    background-size: 100% ;
    background-position:center;
    padding: 20px;
    text-align: center;
    position: fixed; /* Cố định header ở trên cùng */
    width: 100%;
    top: 0;
    z-index: 999;
 
}
nav {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed; /* Cố định nav ở trên cùng */
    width: 100%;
    top: 140px; /* Điều chỉnh khoảng cách giữa header và nav */
    z-index: 999;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}
nav a:hover {
    color:black;
    background-color: white;
}
nav ul.submenu {
    display: none;
    position: absolute;
    background-color: black;
    padding: 10px;
    width: 200px;
    top: 100%;
    left: 0;
    border-radius: 0 0 5px 5px; /* Thêm bo tròn cho góc dưới của submenu */
}
nav a.submenu {
    background-color: white;
    color:black;
}
nav li:hover ul.submenu {
    display: block;
}
nav li:hover ul.submenu li {
    display: block;
    margin: 0px 0; /* Thêm khoảng cách giữa các mục trong submenu */
}
nav li:hover ul.submenu a {
    padding: 5px 10px; /* Thay đổi khoảng cách padding trong submenu */
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product {
    flex-basis: calc(33.33% - 150px);
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    transition: transform 0.3s ease;
}
.product:hover {
    transform: translateY(-10px);
}
.product img {
    max-width: 100%;
    height: auto;
}
main {
    padding: 20px 0;
    margin-top: 200px;
}
footer {
    background-image:linear-gradient(to bottom right,grey, black);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a{
    color:#fff;
}